.App {
  max-width: 480px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.todo-list {
  background: #e2e2e2;
}

.todo-list .input-custom {
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  border: none;
}

.todo-list .todo-container {
  width: 100%;
  padding: 30px;
  background: #fff;
}

.todo-content {
  padding: 10px 0;
  border-bottom: 1px solid #e2e2e2;
}

.todo-container .todo-content:nth-child(4) {
  border-top: 1px solid #e2e2e2;
}

.todo-content .todo-title {
  font-size: 20px;
  font-weight: bold;
}

.action-link {
  color: dodgerblue;
  cursor: pointer;
}

.action-badge {
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.action-badge.edit {
  background: dodgerblue;
}

.action-badge.delete {
  background: #ed4337;
}

.badge {
  margin-left: 10px;
  color: #fff;
  font-size: 12px !important;
  font-weight: unset !important;
}
.badge-low {
  background: green;
}

.badge-medium {
  background: #be9b34;
}

.badge-high {
  background: orangered;
}

.todo-content .priority-level {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
}
.priority-level.priority-level-1 {
  background-color: green;
}
.priority-level.priority-level-2 {
  background-color: #be9b34;
}
.priority-level.priority-level-3 {
  background-color: orangered;
}

.add-form {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.add-form.show {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.action-button {
  display: block;
}

.login-page, .register-page {
  padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
